{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
<br>
<h2 class="text-justify">ONLINE PLATFORM CLASSES & CERTIFICATES OF COMPLETION</h2>
<br>
<BR>

<div class="container">
  <div class = "row">
    <div class = "col">
    <img src="{% static 'portfolio/python_logo.jpg' %}" class="img-fluid mb-2"  height="50" width="100" >
    <a href="{% static "portfolio/mv_codecademy.pdf" %}" target="_blank"><h6 class="text-secondary">1. CodeCademy - Computer Science Career Path</h6></a>
    <a href="{% static "portfolio/mv_code_complexdata.pdf" %}" target="_blank"><h6 class="text-secondary">2. CodeCademy - Complex Data Structures</h6></a>
    <a href="{% static "portfolio/mv_code_recursion.pdf" %}" target="_blank"><h6 class="text-secondary">3. CodeCademy - Recursion</h6></a>
    <a href="{% static "portfolio/C - 8-17-2019 - Using Databases with Python.pdf" %}" target="_blank"><h6 class="text-secondary">4. Coursera - Using Databases With Python</h6></a>
    <a href="{% static "portfolio/C - 7-18-2019 - Python Data Structures.pdf" %}" target="_blank"><h6 class="text-secondary">5. Coursera - Data Structures</h6></a>
    <a href="{% static "portfolio/C - 8-8-2019 - Using Python To Access Web Data.pdf" %}" target="_blank"><h6 class="text-secondary">6. Coursera - Accessing Web Data</h6></a>
    <a href="{% static "portfolio/Udemy - Python - Real World App. 9-20-2020.pdf" %}" target="_blank"><h6 class="text-secondary">7. Udemy - Build 10 Real World Applications</h6></a>
    </div>
    <div class = "col">
    <img src="{% static 'portfolio/wm_cp.jpg' %}" class="img-fluid mb-2"  height="75" width="120" >
    <a href="{% static "portfolio/C - 10-16-2019 - Programming Foundations with JavaScript, HTML 10-16-2019.pdf" %}" target="_blank"> <h6 class="text-secondary">1. Coursera - JS, HTML & CSS Foundations</h6></a>
    <a href="{% static "portfolio/Udemy - SQL - 1-12-2021.pdf" %}" target="_blank"> <h6 class="text-secondary">2. Udemy - MySQL for Data Analytics and BI</h6></a>
    <a href="{% static "portfolio/Udemy - REACT 1-3-2021.pdf" %}" target="_blank"> <h6 class ="text-secondary"> 3. Udemy - Complete React Developer Course </h6></a>
    </div>
   </div>

<br>
<br>

   <div class = "row">
     <div class = "col">
     </div>
     <div class = "col">
       <img src="{% static 'portfolio/java.jpg' %}" class="img-fluid mb-2"  height="75" width="140" >
       <a href="{% static "portfolio/C - 3-26-2020 Java Programming Arrays, Lists, and Structured.pdf" %}" target="_blank"> <h6 class="text-secondary">1. Coursera - Arrays, Lists and Structured Data</h6></a>
       <a href="{% static "portfolio/C - 4-15-2020 Java Programming Principles of Software Design.pdf" %}" target="_blank"> <h6 class="text-secondary">2. Coursera - Principles of Software Design</h6></a>
       <a href="https://www.udemy.com/course/spring-framework-5-beginner-to-guru/" target="_blank"> <h6 class ="text-secondary"> 3. Udemy - Spring Framework 5 - Ongoing </h6></a>
     </div>
     <div class = "col">
     </div>
   </div>
  </div>









</div>
<br>






  <!--div class="col-lg-1 col-md-4"-->


{% endblock %}
